<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cảnh báo: Thiết bị đã quá hạn trả</title>
</head>
<body>
    <h2>Xin chào <%= user.name %>,</h2>
    <p>Thiết bị bạn mượn đã quá hạn trả. Vui lòng trả lại thiết bị ngay lập tức.</p>

    <h3>Thông tin chi tiết:</h3>
    <ul>
        <li>Thiết bị: <%= borrowRequest.device.name %></li>
        <li>Ngày mượn: <%= borrowRequest.borrowDate.toLocaleDateString('vi-VN') %></li>
        <li>Ngày phải trả: <%= borrowRequest.returnDate.toLocaleDateString('vi-VN') %></li>
        <li>Số ngày quá hạn: <%= Math.ceil((Date.now() - borrowRequest.returnDate) / (1000 * 60 * 60 * 24)) %></li>
    </ul>

    <p style="color: red;">Vui lòng trả thiết bị ngay để tránh bị khóa quyền mượn thiết bị.</p>

    <p>Trân trọng,<br>
    <%= APP_NAME %></p>
</body>
</html>
